<div class="posts list-group">
      {{#each posts as |post|}}
    <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
      <div>{{title}}</div>
      <div>{{format_date createdAt}}</div>
    </a>
  {{/each}}
</div>