<h1>Your Posts</h1>
{{#each posts as |post|}}
<div class="posts card mt-5">
  <div class="card-header">
   <h3> <a class="flex-row justify-space-between" href="/dashboard/post/{{post.id}}"></h3>
      {{post.title}}</a>
  </div>
  <div class="card-body">
        <p id="timePosted">{{post.createdAt}}</p>
    </div>
</div>
  {{/each}}
<div class="row col-2 mx-auto mt-5 p-2">
  <button class="btn btn-primary"><a href="/dashboard/new">New Post</a></button>
</div>