
    <h1>New Post</h1>

<form id="new-post-form" class="card-body mt-3">
    <label class="form-label">Post Title</label>
    <input type="text" name="post-title" class="form-input"/>
    <label class="form-label">Content</label>
    <textarea name="post-body" class="form-input"></textarea>
    <div>
    <button type="submit" class="btn btn-primary mt-3">Post</button>
    </div>
</form>

<script src="/js/new.js"></script>
