  <div class="container py-5 h-100 mx-auto">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <h1 class="text-center p-3">Login</h1>
        <form id="signup-form">

          <!-- Username input -->
          <div class="form-outline mb-4">
            <input type="text" id="username-input-signup" class="form-control form-control-lg" />
            <label class="form-label">Username</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="password-input-signup" class="form-control form-control-lg" />
            <label class="form-label">Password</label>
          </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
          <a class="login-link" href="/login">Already signed up? Log in here</a>
        </form>
      </div>
    </div>
  </div>



<script src="/js/signup.js"></script>